In [1]:
import pandas as pd
from datetime import date

In [2]:
today = date.today()
formatted_date = today.strftime("%Y-%m-%d")

In [3]:
file_path = f'sheets/ai_jobs_captured_list_{formatted_date}.xlsx'
df=pd.read_excel(file_path)
df.head()

,회사,제목,경력,근무형태,학력,근무지역,링크
0,바카티오,Impact Junior,경력 무관,학력 무관,5967,NaN,https://zighang.com/recruitment/d35bca1d-6a14-...
1,Microsoft,Cloud & AI Solution Engineer - Data Platform,1~2년차,정규직,학사,서울,https://zighang.com/recruitment/75242627-2e2b-...
2,HD현대,2025년 하반기 신입 사원 채용,경력 무관,정규직,학사,서울,https://zighang.com/recruitment/4709a098-6595-...
3,NAVERCloud,Video AI 연구 / 개발 (경력),2년차 이상,정규직,박사학력 무관,경기,https://zighang.com/recruitment/34f84725-2387-...
4,LGAI연구원,Software Engineer Internship (Business Intelli...,경력 무관,체험형 인턴,학사석사,서울,https://zighang.com/recruitment/074d5010-7b30-...

In [4]:
corp_list_path = 'sheets/corp_list.xlsx'
df_corpList = pd.read_excel(corp_list_path)
df_corpList.head()

           회사
0   Microsoft
1  NAVERCloud
2     LGAI연구원
3          두산
4      CJ대한통운

In [5]:
df['회사'] = df['회사'].str.replace(' ', '', regex=False)
df_corpList['회사'] = df_corpList['회사'].str.replace(' ', '', regex=False)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회사      311 non-null    object
 1   제목      311 non-null    object
 2   경력      311 non-null    object
 3   근무형태    311 non-null    object
 4   학력      311 non-null    object
 5   근무지역    310 non-null    object
 6   링크      311 non-null    object
dtypes: object(7)
memory usage: 17.1+ KB

In [7]:
df_mod = df[df['회사'].isin(df_corpList['회사'])]
df_mod.reset_index(drop=True, inplace=True)
df_mod

,회사,제목,경력,근무형태,학력,근무지역,링크
0,Microsoft,Cloud & AI Solution Engineer - Data Platform,1~2년차,정규직,학사,서울,https://zighang.com/recruitment/75242627-2e2b-...
1,NAVERCloud,Video AI 연구 / 개발 (경력),2년차 이상,정규직,박사학력 무관,경기,https://zighang.com/recruitment/34f84725-2387-...
2,LGAI연구원,Software Engineer Internship (Business Intelli...,경력 무관,체험형 인턴,학사석사,서울,https://zighang.com/recruitment/074d5010-7b30-...
3,두산,2025년 하반기 (주) 두산 사업부문 채용 연계형 인턴 채용,신입,전환형 인턴정규직,학사,서울,https://zighang.com/recruitment/b41ffc48-956d-...
4,NAVERCloud,HCX Multimodal DATA Filtering & Curation (체험형 인턴),신입,체험형 인턴,학사,경기,https://zighang.com/recruitment/9b8f7238-a3c8-...
...,...,...,...,...,...,...,...
112,리더스시스템즈,(주) 리더스 시스템즈 개발자 신입 및 경력 모집,경력 무관,정규직,학사,경기,https://zighang.com/recruitment/2d5d3179-3425-...
113,데이원컴퍼니,[패스트 캠퍼스] 기업 교육 IT (빅데이터 or Tech) 실습 코치 모집,경력 무관,계약직,학력 무관,서울,https://zighang.com/recruitment/e6b807e2-8544-...
114,Welocalize,Korean Data Labeler,경력 무관,프리랜서,학력 무관,서울,https://zighang.com/recruitment/1889502f-5756-...
115,Welocalize,Korean to Katakana Digital Content Evaluation ...,경력 무관,프리랜서,학력 무관,서울,https://zighang.com/recruitment/7225a487-d1c9-...
116,우리은행,디지털 부문 전문직 인재 Pool 상시 등록 (AI / 빅 데이터 / UX - UI),경력 무관,정규직,학력 무관,서울,https://zighang.com/recruitment/67da9ee1-c698-...

In [8]:
output_filename = f'sheets/list_in_major_corp_{formatted_date}.xlsx'
df_mod.to_excel(output_filename, index=False)